<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left" id="menu-list-item4" ui-sref="menu.live()" menu-close="">
          <i class="icon ion-headphone"></i>Escuchar</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item5" href-inappbrowser="https://facebook.com">
          <i class="icon ion-social-facebook"></i>Síguenos</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item6" href-inappbrowser="https://wa.me/591">
          <i class="icon ion-social-whatsapp"></i>Escríbenos</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item8" href="tel:591">
          <i class="icon ion-ios-telephone"></i>Llámanos</ion-item>
        <ion-item class="item-icon-left" id="menu-list-item7" href-inappbrowser="https://www.llajwa.club">
          <i class="icon ion-ios-world"></i>Visítanos</ion-item>
      </ion-list>
      <div class="spacer" style="height: 100px;"></div>
      <ion-list id="menu-list2">
        <ion-item id="menu-list-item9" ui-sref="menu.informaciN()" menu-close="">Sobre esta App</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>